#selection_title {
    text-shadow: -1px -1px 0 #fecb89, 1px -1px 0 #fecb89, -1px 1px 0 #fecb89, 2px 2px 1px #fecb89;
    color: lightsalmon;
    opacity: 0.8;
    font: 55px fantasy;
}

.tab_selection {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.selection_icon {
    width: 30px;
    height: 35px;
}

.selection_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 10px
}

#clock {
    font-size: 18px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace
}

#cover {
    background-image: url(javascript/Cover.jpeg);
    background-size: cover;
}

#cover_title {
    font-family: cursive;
    font-size: 60px;
    color: rgb(231, 225, 191);
    text-shadow: -1px -1px 0 rgb(80, 78, 78), 1px -1px 0 rgb(80, 78, 78), -1px 1px 0 rgb(80, 78, 78), 3px 3px 1px rgb(80, 78, 78);
    font-weight: 300;
    text-align: center;
}

.cover_text {
    font-size: 24px;
    font-family: cursive;
    font-weight: 900;
    stroke: black;
    margin: 10px 20px 10px 20px
}

.covertext_button {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background-color: #c7b198;
    border-radius: 10px;
    color: none;
    transition-duration: 0.4s;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.covertext_button:hover {
    background-color: #9f8d79;
    color: #c7b198
}

.covertext_button_text {
    font-family: cursive;
    font-size: 30px
}

.about_title_text {
    font-size: 80px;
    font-family: fantasy;
    font-weight: bolder;
}

.Q_text {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #555555;
}

.A_text {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #888888;
}

.border_style {
    border-bottom: 4px solid lightgrey;
    margin-top: 10px;
}

.part_gap {
    margin-top: 20px;
}

.aboutexp_describe {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    fill: #555555;
}